@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Final_Project.Entity.Usuario
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <form asp-action="Validate" asp-controller="Login" method="post">
        <h3 class="text-center">Inicio de Sesión</h3>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="mb-3 w-100">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="mb-3 w-100">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="w-100">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>